@import "tailwindcss";

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.pixel-map .leaflet-tile {
  image-rendering: pixelated;
  /* 念のため古いブラウザ向けの設定も */
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
